<div [formGroup]="mortgageCalculatorFormGroup">
  <h2>Mortgage Calculator</h2>
  <div class="row">
    <div class="col">
      <h5 class="panel-title">Payment Plan</h5>

      <div class="row mb-3">
        <label for="mortgageAmountId" class="col-sm-4 col-form-label">Mortgage Amount:</label>
        <div class="input-group input-group-sm col">
          <span class="input-group-text">$</span>
          <input formControlName="mortgageAmount" type="number" class="form-control" id="mortgageAmountId">
        </div>
      </div>

      <div class="row mb-3">
        <label for="interestRateId" class="col-sm-4 col-form-label">Interest Rate:</label>
        <div class="input-group input-group-sm col">
          <input formControlName="interestRate" type="number" class="form-control" id="interestRateId" min="0.0" max="100">
          <span class="input-group-text">%</span>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <label for="amortizationPeriodId" class="col-sm-4 col-form-label">Amortization Period:</label>
        <div class="col-sm-5">
          <select formControlName="amortizationPeriodYears" id="amortizationPeriodId" class="form-select" [value]="25">
            <option *ngFor="let year of amortizationPeriodYearsList" [ngValue]="year">
              <span>{{year}}</span><span> {{year === 1 ? 'year' : 'years'}}</span>
            </option>
          </select>
        </div>
        <div class="col-sm">
          <select formControlName="amortizationPeriodMonths" class="form-select">
            <option selected [value]="0"></option>
            <option *ngFor="let month of amortizationPeriodMonthsList" [ngValue]="month">
              <span>{{month}}</span><span> {{month === 1 ? 'month' : 'months'}}</span>
            </option>
          </select>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <label for="paymentFrequencyId" class="col-sm-4 col-form-label">Payment Frequency:</label>
        <div class="col-sm">
          <select formControlName="paymentFrequency" id="paymentFrequencyId" class="form-select">
            <option *ngFor="let frequency of PaymentFrequencies | keyvalue" [value]="frequency.key">{{frequency.value}}</option>
          </select>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <label for="termId" class="col-sm-4 col-form-label">Term:</label>
        <div class="col-sm-4">
          <select formControlName="term" id="termId" class="form-select">
            <option *ngFor="let year of termYearsList" [ngValue]="year">
              <span>{{year}}</span><span> {{year === 1 ? 'year' : 'years'}}</span>
            </option>
          </select>
        </div>
      </div>

    </div>

    <div class="col">
      <section class="panel panel-primary">
        <header class="panel-heading">
          <h5 class="panel-title">Prepayment Plan</h5>

          <div class="row mb-3">
            <label for="prepaymentAmountId" class="col-sm-4 col-form-label">Prepayment Amount:</label>
            <div class="input-group input-group-sm col">
              <span class="input-group-text">$</span>
              <input formControlName="prepaymentAmount" type="number" class="form-control" id="prepaymentAmountId">
            </div>
          </div>

          <div class="row g-3 mb-3">
            <label for="prepaymentFrequencyId" class="col-sm-4 col-form-label">Prepayment Frequency:</label>
            <div class="col-sm">
              <select formControlName="prepaymentFrequency" id="prepaymentFrequencyId" class="form-select">
                <option *ngFor="let frequency of PrePaymentFrequencies | keyvalue" [value]="frequency.key">{{frequency.value}}</option>
              </select>
            </div>
          </div>

          <div class="row g-3 mb-3">
            <label for="startWithPaymentId" class="col-sm-4 col-form-label">Start With Payment:</label>
            <div class="col-sm-3">
              <input formControlName="startWithPayment" id="startWithPaymentId" type="number" class="form-control">
            </div>
          </div>
        </header>
      </section>
    </div>
  </div>

  <div class="">
    <button type="button" [disabled]="mortgageCalculatorFormGroup.invalid" (click)="submit()" class="btn btn-primary">Calculate ...</button>
  </div>
</div>
