<div class="container">
  <h2>Mortgage Calculator</h2>

  <div class="row">
    <div class="col">
      <h5 class="panel-title">Payment Plan</h5>

      <div class="row mb-3">
        <label for="mortgageAmount" class="col-sm-4 col-form-label">Mortgage Amount:</label>
        <div class="input-group input-group-sm col">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" id="mortgageAmount">
        </div>
      </div>

      <div class="row mb-3">
        <label for="interestRate" class="col-sm-4 col-form-label">Interest Rate:</label>
        <div class="input-group input-group-sm col">
          <input type="text" class="form-control" id="interestRate">
          <span class="input-group-text">%</span>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <label for="amortizationPeriod" class="col-sm-4 col-form-label">Amortization Period:</label>
        <div class="col-sm-5">
          <select id="amortizationPeriod" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-sm">
          <select class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <label for="paymentFrequency" class="col-sm-4 col-form-label">Payment Frequency:</label>
        <div class="col-sm">
          <select id="paymentFrequency" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="row g-3 mb-3">
        <label for="term" class="col-sm-4 col-form-label">Term</label>
        <div class="col-sm">
          <select id="term" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

    </div>

    <div class="col">
      <section class="panel panel-primary">
        <header class="panel-heading">
          <h5 class="panel-title">Prepayment Plan</h5>

          <div class="row mb-3">
            <label for="prepaymentAmount" class="col-sm-4 col-form-label">Prepayment Amount:</label>
            <div class="input-group input-group-sm col">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" id="prepaymentAmount">
            </div>
          </div>

          <div class="row g-3 mb-3">
            <label for="prepaymentFrequency" class="col-sm-4 col-form-label">Prepayment Frequency:</label>
            <div class="col-sm">
              <select id="prepaymentFrequency" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
          </div>

          <div class="row g-3 mb-3">
            <label for="startWithPayment" class="col-sm-4 col-form-label">Start With Payment:</label>
            <div class="col-sm-3">
              <input id="startWithPayment" type="text" class="form-control">
            </div>
          </div>
        </header>
      </section>
    </div>
  </div>


  <div class="">
    <button type="button" class="btn btn-primary">Calculate ...</button>
  </div>

</div>
